.container{
    /* border: 1px solid red; */
    /* height: 25rem; */
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #283d66;
}

.container .area1,.area2{
    /* border: 1px solid green; */
    width: 50%;
    /* margin-bottom: 6rem; */
}

.container .area1{
    margin:0rem 1rem 3rem 4rem
}
.container .area1 .row1{
    color: white;
    font-size: 1.5rem;
}
.container .area1 .row2{
    /* border: 1px solid red; */
    /* float: left; */
    /* width: %; */
    margin-right: 10%;
    font-size: 0.9rem;
    color: rgb(176, 199, 221);
}

.container .area1 .row3{
    /* border: 1px solid red; */
    margin-top: 1.8rem;
}
.container .area1 .row3 button{
    background-color: transparent;
    border: 0.1rem solid white;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;

}
.container .area1 .row3 button:hover{
    background-color:greenyellow;
    color: black;
}

.container .area2{
    /* border: 1px solid red; */
    width: 40%;
    /* height: 60%; */
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,50%);
    gap: 0.9rem;
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;

}
.container .area2 .card{
    border-radius: 25px;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #374766;
    /* height: 10rem;
    width: 7rem; */
    font-size: small;
    overflow: hidden;
    cursor: pointer;
}

.container .area2 .card img{
    width: 20%;
}
.container .area2 .card:hover{
    background-color: #3a5c9e;
}




@media screen and (max-width: 800px){

    .container{
        position: relative;
        /* width: 100%; */
        display: block;
        height: 100%;
        border: 1px solid #283d66;
    }
    .container .area1{
      /* border: 1px solid red; */
      margin-left: 1rem;
      margin-right: 0;
      width: 80%;
    }
    .container .area2{
        position: inherit;
        width: 100%;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,30%);
    }

}

@media screen and (max-width: 400px){
    .container .area2{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,30%);
        position: inherit;
        /* right: 0.5rem;
        top: 1.2rem; */
    
    }
    .container{
        position: inherit;
        /* width: 100%; */
        display: block;
        height: 100%;
        border: 1px solid #283d66;
    }
}